<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Little Adventure</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <script src="webjars/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div>
    <font color="black" face="Times" size="5"> </font>
    <p id="event-text" th:text="${text}"></p>
</div>

<div id="buttons" th:each="option, state : ${options}">
    <button class="button" th:id="${option.nextEventId}" th:text="${option.text}"></button>
    <div></div>
</div>

</body>
</html>