<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Little Adventure</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <script src="webjars/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <link href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="buttons">
    <button class="button" th:id="0">Начать</button>
</div>

</body>
</html>